.ts-product-hero {
  padding-block: 9rem;
  background-position: center;
  background-size: cover;
  hr {
    max-width: 100px;
    height: 4px;
    background-color: #ca0011;
    border: none;
  }
}
